
<div class="contact-form">
        <h4>{{message}}</h4>
        <img src="avatar.webp" class="avatar">
        <h2>Admin Login</h2>
        <form action="/adminLogin" method="POST">
            <p>Username</p>
            <input type="text" name="id" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Sign In">
        </form>
    </div>