

<div>
    Hey {{id}}, You are welcome to the FUTMx e-Voting portal
</div>


<form action="/vote" method="POST">

           <input type="radio" id="APC" name="party" value="APC">
           <label for="APC">APC</label><br>
           <input type="radio" id="PDP" name="party" value="PDP">
           <label for="PDP">PDP</label><br>
           <input type="radio" id="APGA" name="party" value="APGA">
           <label for="APGA">APGA</label> <br>
          <br>
<button type="submit">Cast my Ballot</button>
</form>

