
<h1> Vote Confirmation </h1>
<p>Congrats, you successfully voted for {{party}}</p>
<p> Hence your ballot is  [{{cBallot}}]</p>
<p>To change your ballot, simply navigate to the previous page</p>
<p>But if not, you can log out below</p>

<form action="/storeBallot" method="POST">
    <button>Logout</button>
</form>
